html {min-height: 100%}
body {
    background: linear-gradient(to right, #f6f5f3,#f5eff6);
    box-sizing: border-box;
    font-family: sans-serif;
    --padding:10px;
}


/* sidebar */
.sidebar {
    cursor: ew-resize; /* Change cursor to indicate resizing */
    width: 10px; /* Width of the resize handle */
    height: 100%; /* Full height of the sidebar */
    background: #ccc; /* Color of the handle */
    position: absolute;
    right: 0; /* Position at the right edge of the sidebar */
    top: 0;
}

.sidebar_container{
    background: #f2f2f2;
    position: fixed;
    top: 0;
    left: 0;
    margin: 5px;
    height: 97vh;
    font-size: 15px;
    padding: 5px;
    border-radius: 3px;
    width: 250px;
    border: 1px solid gray;
    }


/* profile + notification bell */
.profile {
    display: flex;
    justify-content: space-between;
    z-index: 1;
    max-width: 40%;
    padding: var(--padding);
}
.user{
    display: block;
    padding: 0 var(--padding);
    color: black;
}
.avatar img{
    border-radius: 50%;
    height: 40px;
    width: 40px;
}
.notification{
    vertical-align: center;
    color: black;
}

/* searchbar */
.searchbar {
    width: 91%;
    position: sticky;
    display: flex;
    align-items: center;
    padding: var(--padding);
    margin: 5px 0;
    border-radius: 5px;
    height: 15px;
    background: #e6e6e6;
}
.search_icon {
    color: rgba(0,0,0,0.5);
}
.search_input {
    font-size: 16px;
    font-family: 'Lexend', sans-serif;
    margin-left: var(--padding);
    outline: none;
    border: none;
    background: transparent;
    flex: 1;
}
.search_input::placeholder {color: rgba(0,0,0,0.5)}

.create {
    display: flex;
    flex-direction: column;
}

.note{
    margin: 2px 1px;
    width: 78%;
    height: 40px;
    border-radius: 5px;
    color: white;
    background-color: #00a82d;
    border-width: 0;
    vertical-align: middle;
}

.more {
    margin: 2px 1px;
    width: 18%;
    height: 40px;
    border-radius: 5px;
    color: #4a4a4a;
    background-color: #e6e6e6;
    border-width: 0;
    vertical-align: middle;
}

.task {
    margin: 2px 1px;
    width: 48%;
    height: 40px;
    border-radius: 5px;
    color: white;
    background-color: #a158eb;
    border-width: 0;
}

.event{
    margin: 2px 1px;
    width: 48%;
    height: 40px;
    border-radius: 5px;
    color: white;
    background-color: #ee6631;
    border-width: 0;
}
/* navigation */
.navigation{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    min-height: 70vh;
}

.navigation .navigation_1, .navigation_item {
    list-style: none;
    text-decoration: none;
    color: black;
    padding: 5px;
}

.navigation_1 li{
    padding: 3px;
}

.navigation_item .material-symbols-outlined, .help_item .material-symbols-outlined {
    vertical-align: middle;
    font-size: 16px;
}

.navigation .help .help_item{
    text-decoration: none;
    color: black;
}

.content {
    margin-left: 260px;
    padding: 10px;
    flex-grow: 1;
}

@media (max-width: 100%) {
    .sidebar {
        width: 200px;
    }

    .content {
        margin-left: 210px; 
    }
}
